form {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}

.form-div-s{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 150px);
  // justify-content: center;
  // align-items: center;
}

.col-md-6{
  border-radius: 5px;
  padding: 0px;
  background: white;
}