<nav class="navbar navbar-light shadow-lg header-s bg-white-s" style="margin-bottom: 30px;">
  <div class="p-0 m-0">
    <a class="navbar-brand" [routerLink]="'/'">
      <img src="./../../../assets/images/memoriesText.png" id="memories-text">
    </a>
    <a class="navbar-brand" [routerLink]="'/'">
      <img src="./../../../assets/images/memoriesLogo.png" id="memories-logo">
    </a>
  </div>

  @if (isLoggedIn) {
    <div>
      <h4>Welcome {{_utilService.loggedIdUserName}}</h4>
    </div>
  }

  <div>
    <a *ngIf="!isLoggedIn" [routerLink]="'/login'"><button class="btn btn-info">Login</button></a>
    <a *ngIf="!isLoggedIn" [routerLink]="'/register'"><button class="btn btn-info ml-20-s">Register</button></a>
    <a *ngIf="isLoggedIn" (click)="logout()" ><button class="btn btn-info ml-20-s">Logout</button></a>
  </div>
</nav>


<!-- <nav class="navbar navbar-light shadow-lg header-s bg-white-s" style="margin-bottom: 30px;">

  <div class="row mx-0">
    <div class="col-md-4" style="display: flex; flex-direction: row;">
      <a class="navbar-brand" [routerLink]="'/'">
        <img src="./../../../assets/images/memoriesText.png" id="memories-text">
      </a>
      <a class="navbar-brand" [routerLink]="'/'">
        <img src="./../../../assets/images/memoriesLogo.png" id="memories-logo">
      </a>
    </div>

    <div class="col-md-4"></div>
    <div class="col-md-4" style="display: flex; flex-direction: row;">
      <a *ngIf="!isLoggedIn" [routerLink]="'/login'"><button class="btn btn-info">Login</button></a>
      <a *ngIf="!isLoggedIn" [routerLink]="'/register'"><button class="btn btn-info ml-20-s">Register</button></a>
      <a *ngIf="isLoggedIn" (click)="logout()"><button class="btn btn-info ml-20-s">Logout</button></a>
    </div>
  </div>
</nav> -->