form {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}


.form-div-s{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 150px);
  // justify-content: center;
  // align-items: center;
}

// .inner-div{
//   display: flex;
//   width: 100%;
//   flex-direction: column;
// }

.col-md-6{
  border-radius: 5px;
  padding: 0px;
  // background: white;
  display: flex;
  align-items: center;
}