<div class="form-div-s">
  <div class="row mx-0 px-0" style="height: 100vh;">
    <div class="col-md-3"></div>
    
    <div class="col-md-6">
      <form class="shadow-lg" [formGroup]="loginForm">
        <div class="row-mx-0 mb-3" style="display: flex; justify-content: center;">
          <h3 style="width: fit-content;">Login</h3>
        </div>

        <div class="inner-div">
          <div class="row mx-0 mb-3">
            <div class="col-md-1 col-sm-12 p-0">
              <label>Email</label>
            </div>
            <div class="col-md-2 col-sm-12 p-0"></div>
            <div class="col-md-9 col-sm-12 p-0">
              <div class="row mx-0">
                <input type="email" class="form-control" formControlName="email">
                <small class="text-danger p-0" *ngIf="loginForm.controls.email.touched || loginForm.controls.email.dirty">
                  <small *ngIf="loginForm.controls.email.errors?.['required']">
                    Required
                  </small>
                  <small *ngIf="loginForm.controls.email.errors?.['pattern']">
                    Enter Valid Email
                  </small>
                </small>
              </div>
            </div>
          </div>
    
          <div class="row mx-0 mb-3">
            <div class="col-md-1 col-sm-12 p-0">
              <label>Password</label>
            </div>
            <div class="col-md-2 col-sm-12 p-0"></div>
            <div class="col-md-9 col-sm-12 p-0">
              <div class="row mx-0">
                <input type="password" class="form-control" formControlName="password">
                <small class="text-danger p-0"
                  *ngIf="loginForm.controls.password.touched || loginForm.controls.password.dirty">
                  <small *ngIf="loginForm.controls.password.errors?.['required']">
                    Required
                  </small>
                </small>
              </div>
            </div>
          </div>
    
          <div class="row mx-0 mb-3">
            <button *ngIf="!isShowBtnLoader" (click)="login()" class="btn btn-warning">Submit</button>
    
            <button *ngIf="isShowBtnLoader" class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
          </div>
    
          <div class="row mx-0 mb-3">
            <div class="col p-0">
              <label>Don't Have account ? <a [routerLink]="'/register'">Register here</a> </label>
            </div>
          </div>
        </div>
    
      </form>
    </div>

    <div class="col-md-3"></div>

  </div>
</div>