.main-div-s{
  // background-color: whitesmoke;
  // background-color: rgb(242, 235, 235);
  background-color: rgb(224 219 219);
  min-height: 100vh;
  max-height: max-content;
  padding: 20px;
}

.outer-div{
  background-color: rgb(232 221 221);
}