/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';


.ml-20-s{
  margin-left: 20px;
}

.c-p-s{
  cursor: pointer;
}

.bg-white-s{
  background-color: white;
}